te<div class="user-details">
  <h1>About Me</h1>
   <img alt="me" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
</div>
<left><p>{{site.user_description}}</p></left>
<div class="user">
    <div class="tech">
      <h2>Stack</h2>
      <img class="icon" src="{{ "/assets/img/python.png" | prepend: site.baseurl }}" />
      <br>
      <img class="icon" src="{{ "/assets/img/R.png" | prepend: site.baseurl }}" />
      <img class="icon" src="{{ "/assets/img/sql.png" | prepend: site.baseurl }}" />
      <p>Multiple years of production-level code-writing experience across the data science stack</p>
    </div>
    <div class="tech">
      <h2>Experience</h2>
      <img class="icon" src="{{ "/assets/img/hawks.png" | prepend: site.baseurl }}" />
      <br>
      <img class="icon" src="{{ "/assets/img/knicks.png" | prepend: site.baseurl }}" />
      <img class="icon" src="{{ "/assets/img/timberwolves.png" | prepend: site.baseurl }}" />
      <p>Diverse background with experience tackling different problems in different roles</p>
    </div>
    <div class="tech">
      <h2>Interests</h2>
      <img class="icon" author ="madebyflaticon.com" src="{{ "/assets/img/ai.png" | prepend: site.baseurl }}" />
      <br>
      <img class="icon" src="{{ "/assets/img/vote.png" | prepend: site.baseurl }}" />
      <img class="icon" src="{{ "/assets/img/climate.png" | prepend: site.baseurl }}" />
      <p>Well-rounded with multiple non-occupational interests and on-going personal projects</p>
    </div>
</div>
<br>
<center><a href="https://www.goodreads.com/user/show/137653162-nick-restifo">Check out what I'm reading.</a></center>



